.browse{
    float: right;
    text-decoration: none;
}

.arrow{
    float: right;
    margin-right: 5px;
    text-decoration: none;
    font-size: 20px;
}

.weekly{
    text-align: center;
    margin: 2%;
}

.mail{
    float:inline-start;
    display: flex;
}
